#title
{
  display: inline-block;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 4vw;
}

.scores
{
	background-color: #222;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.top-button
{
	background-color: #222;
    border: none;
    color: #c0c0c0;
    margin: 10px 1.2%;
    text-align: center;
    display: inline-block;
    font-size: 4.5vw;
    font-weight: 900;
    outline: none;
}

.top-button:hover
{
    color: white;
    //background-color: #c0c0c0;
    outline-style: dotted;
    outline-color: white;
    outline-width: thick;
}
